@import "../../../../styles/variables.scss";

.videoContainer {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: rgba(#000, 0.7);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 50%;
  height: 70%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.9);
}

.heading {
  color: #fff;
}

@media (max-width: $desktop-screen-size) {
  .videoContainer {
    padding: 0;
  }

  .video {
    width: 90%;
  }
}
