@import "../../styles/variables.scss";

.btn {
  font-size: 1rem;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  width: 100px;
  max-height: 35px;
  padding: 7px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  outline: none;
  transition: transform 0.2s;
}

.ghost {
  border: 1px solid white;
  background-color: transparent;

  &:hover {
    transform: scale(1.05);
  }
}

.primary {
  border: none;
  background-color: $blue-color;

  &:hover {
    transform: scale(1.05);
  }
}
