@import "../../styles/variables.scss";

.hero {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  height: 80vh;
  position: relative;
  background: no-repeat center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, black, transparent 40%);
  }
}

.title {
  font-size: 2rem;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 2%;
}

.duration {
  border-left: 1px solid white;
  padding-left: 3%;
}

.wrapper {
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.movieInfo {
  width: 300px;
  color: white;
  margin-left: 5%;
  margin-bottom: 5px;
  z-index: 1;
}

.rating {
  font-size: 0.8rem;
  display: flex;
  align-items: flex-end;

  span {
    margin-left: 3%;
  }
}

.movieDescription {
  position: relative;
  z-index: 1;
  margin-right: 1%;
}

.description {
  opacity: 1;
  position: relative;
  width: 250px;
  height: 120px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  margin-bottom: 35px;
  font-size: 0.9rem;
  line-height: 1.3rem;

  &::after {
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid black;
    opacity: 0.6;
    position: absolute;
    right: 35%;
    bottom: -20px;
  }
}

.hiddenDesc {
  opacity: 0;
  width: 250px;
  height: 120px;
  line-height: 1.3rem;
  padding: 20px;
  margin-bottom: 35px;
}

.buttons {
  display: flex;
  z-index: 1;

  & :first-child {
    margin-right: 20px;
  }
}

@media (max-width: $tablet-screen-size) {
  .hero {
    flex-wrap: wrap;
  }

  .movieInfo {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & span:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .duration {
    border: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    &::after {
      display: none;
    }
  }

  .buttons {
    justify-content: center;
  }
}

@media (max-width: $mobile-screen-size) {
  .hero {
    justify-content: center;
    align-items: center;
  }

  .movieInfo {
    margin-left: 0;
    margin-top: 17vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 0;

    & span:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .description {
    box-sizing: border-box;
    width: 90vw;
    height: auto;
  }

  .hiddenDesc {
    box-sizing: border-box;
    width: 90vw;
    height: auto;
  }

  .wrapper {
    display: block;
    width: 70vw;
    margin-bottom: 10px;
  }
}
