@font-face {
  font-family: "Helvetica Neue";
  font-display: fallback;
  src: url("../assets/fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  font-display: fallback;
  src: url("../assets/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
