@import "../../styles/variables.scss";

.numRating {
  border: 1px solid $blue-color;
  padding: 3px 7px;
  border-radius: 5px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
